body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.isi .content h1 {
    text-align: center;
    color:  rgb(48, 48, 48);
    font-size: 70px;
    margin-top: 145px;
}

.isi .content p {
    font-size: 70px;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: #13805A;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0;
}

/* Responsive */

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .isi .content h1 {
        font-size: 50px;
    }

    .isi .content p {
        font-size: 60px;
    }
     
}